#gameWindow{
    border-radius: 20px;
    height: 1000px;
    width: 1000px;
    border: solid black 5px;
    overflow: hidden;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playerCharSpriteContainer{
    justify-self: center;
    position:absolute;
}

#backgroundLayer{
    height: 1100px;
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(22, 50px);
    grid-template-rows: repeat(22, 50px);
}

.placeholder{
    background: grey;
    height: 50px;
    width: 50px;
}

.outsideMap{
    background: black;
    height: 50px;
    width: 50px;
}
.foregroundElement{
    clip-path: polygon(46px 35px,60px 35px,60px 54px,46px 54px);
}

#playerSprite0 {
    background-image: url(../sprites/TestSprite.gif);
    background-position: -46px -35px;
    background-color: transparent;
    width: 14px;
    height: 24px;
    object-fit: none;
    object-position: center;
    position:absolute;
}
#playerSprite1 {
    background-image: url(../sprites/TestSprite.gif);
    background-position: -46px -87px;
    transform: scaleX(-1);
    background-color: transparent;
    width: 14px;
    height: 24px;
    object-fit: none;
    object-position: center;
    position:absolute;
}
#playerSprite2 {
    background-image: url(../sprites/TestSprite.gif);
    background-position: -46px -60px;
    background-color: transparent;
    width: 14px;
    height: 24px;
    object-fit: none;
    object-position: center;
    position:absolute;
}
#playerSprite3 {
    background-image: url(../sprites/TestSprite.gif);
    background-position: -46px -87px;
    background-color: transparent;
    width: 14px;
    height: 24px;
    object-fit: none;
    object-position: center;
    position:absolute;
}

.grassTile{
    background-image: url(../sprites/GrassTile.png);
    height: 50px;
    width: 50px;
}

#battleBackground{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 100%;
}

#enemyInfoContainer{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

#enemySpriteContainer{
    grid-column: 2/2;
    grid-row: 1/3;
    display: flex;
    justify-self: center;
    align-items: center;
    height:300px
}

#playerInfoContainer{
    grid-column: 2/3;
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border: solid black 2px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

#playerSpriteContainer{
    grid-column: 1/3;
    grid-row: 2/2;
    justify-content: center;
    align-items: center;
}

#menuContainer{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border: solid black 2px;
    border-radius: 10px;
    height: 160px;
}

#menuHead{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 20px;
    border: solid black 2px;
    padding: 20px;
    border-radius: 10px;
    height: 120px;
    width: 160px;
}

.battleMenuOption{
    padding:5px;
    margin: 5px;
}

.battleMenuOption:hover{
    border: 2px solid black;
    border-radius: 10px;
}

#itemMenuContainer{
    border: 2px solid black;
    border-radius: 10px;
    position:absolute;
    height: 500px;
    width: 160px;
    bottom: 140px;
    background: white;
    right: 133px;
    padding: 20px;
}

.itemMenuOption{
    padding:5px;
    margin: 5px;
}

.itemMenuOption:hover{
    border: 2px solid black;
    border-radius: 10px;
}

.emptyPartySlot{
    background: grey;
    border:solid black 1px
}

.partyMenuElement{
    background: greenyellow;
    border: solid black 1px
}

.partyMenuElement:hover{
    background: rgb(197, 255, 110);
}

.partyMenuContainer{
    background: white;

}